html {
  font-size: 15px;
}

.main {
  background-image: url("../img/back.png");
  width: 128rem;
  height: 72rem;

}

.menu, .content, .foot {
  display: flex;
  justify-content: center;
}

@mixin text-alliance {
  font-family: 'Alliance No.1', sans-serif;
  line-height: 2.4rem;
  font-size: 2rem;
  color: #959595;
  text-align: center;
  vertical-align: middle;

}


.deligaxy, .mixer {
  @include text-alliance;
  width: 21.6rem;
  margin: 0 1.5rem;
  padding: 0.7rem 0;
  border: 2px solid #959595;
  background: rgba(0, 0, 0, 0.8);
  align-self: center;
  cursor: pointer;
}

.left-button, .right-button {
  @include text-alliance;
  width: 21.7rem;
  margin: 0 1.5rem;
  border: 2px solid #959595;
  padding: 0.7rem 0;
  background: rgba(0, 0, 0, 0.8);
  clip-path: polygon(20% 100%, 0% 0%, 100% 0%, 100% 100%);
  text-align: center;
  cursor: pointer;
}

.right-button {
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 80% 100%);
  color: #959595;
  border: 2px solid #959595;
}

.colum1, .colum2, .colum3 {
  display: flex;
  flex-flow: column;
}

.hero {
  position: relative;
  z-index: 1;
  margin-top: 2.2rem;
  margin-left: 4.3rem;
  margin-right: 3.7rem;
}

.hero-img {
  z-index: 2;
  position: absolute;
  top: -2px;
  left: 2px;
}

.hero-img2 {
  z-index: 3;
}

.hero-shadow {
  position: absolute;
  top: 42.4rem;
  left: -3.7rem;
}

.colum1, .colum3 {
  margin-top: 4.9rem;
}

.silver, .gold {
  position: relative;
  margin-top: 0.5rem;
}

@mixin text-b612 {
  font-family: 'B612', sans-serif;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
}

.board-text {
  @include text-b612;
  position: absolute;
  left: 4.4rem;
  top: 6.3rem;
  color: #646363;
}

.board-text-gold {
  @include text-b612;
  position: absolute;
  left: 4.4rem;
  top: 5.1rem;
  color: #695409;
}

.card {
  margin: 2.5rem 0.5rem;
}

.rao, .arena {
  position: absolute;
  left: 9.3rem;
}

.left-side {
  width: 0.07rem;
  height: 4rem;
  background: #959595;
  border: 1px solid #959595;
  transform: skew(48deg);
  left: 2.2rem;
}

.right-side {
  width: 0.07rem;
  height: 3.9rem;
  background: #959595;
  border: 1px solid #959595;
  transform: skew(133deg);
  right: 2.2rem;
}


.left-button:hover {
  border-color: #41E024;
}

.left-button:hover span {
  color: #41E024;
}

.left-button:hover .left-side {
  background: #41E024;
  border-color: #41E024;
}

.right-button:hover {
  border-color: #41E024;
}

.right-button:hover .right-side {
  background: #41E024;
  border-color: #41E024;
}

.right-button:hover span {
  color: #41E024;
}

.left-side, .right-side {
  position: absolute;
  top: 0;
}

.arena {
  position: absolute;
  left: 6rem;
  top: 0.7rem;
}

.left-button, .right-button {
  position: relative;
}

.mixer:hover {
  border-color: #41E024;
}

.mixer span:hover {
  color: #41E024;
}

.deligaxy:hover {
  border-color: #41E024;
}

.deligaxy span:hover {
  color: #41E024;
}

@media screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  html {
    font-size: 4px;
  }

  .main {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

  }
  .board-img {
    width: 15rem;
    height: 15rem;

  }
  .hero-img > img {
    width: 25rem;
    height: 45rem;
  }
  .hero-img2 > img {
    width: 25rem;
    height: 45rem;

  }
  .hero-shadow {
    width: 15rem;
    height: 25rem;
  }
  .gold-img {
    width: 15rem;
    height: 15rem;
  }
  .card > img {
    width: 12rem;
    height: 12rem;
  }
  .board-text {
    top: 4rem;
  }
  .board-text-gold {
    top: 3rem;
  }

}
//
//@media screen and (max-width: 992px) {
//  body {
//    background-color: blue;
//    color: white;
//  }
//}

//@media screen and (max-width: 600px) {
//  body {
//    background-color: blue;
//    color: white;
//  }
//}

